.translate-center {
  left: 50%;top: 50%;transform: translate(-50%, -50%);position: absolute;
}
.translate-top {
  left: 50%;top: 0%;transform: translate(-50%, 0%);position: absolute;
}
.translate-bottom {
  left: 50%;bottom: 0%;transform: translate(-50%, 0%);position: absolute;
}
.translate-left {
  left: 0%;top: 50%;transform: translate(0%, -50%);position: absolute;
}
.translate-right {
  right: 0%;top: 50%;transform: translate(0%, -50%);position: absolute;
}


.active-hide {
  display: inline-block !important;
}
.active-show {
  display: none !important;
}
.active {
  .active-hide {
    display: none !important;
  }
  .active-show {
    display: inline-block !important;
  }
}

a {
  color: inherit;
  .hover-scale {
    transition: all 0.4s linear;
  }
  &:hover {
    .hover-scale {
      transform: scale(1.2);
    }
    .hover-hide {
      display: none;
    }
    .hover-show {
      display: inline-block;
    }
    @each $color, $value in $theme-colors {
      @include bg-variant(".hover-bg-#{$color}", $value);
    }
    @each $color, $value in $theme-colors {
      @include text-emphasis-variant(".hover-text-#{$color}", $value);
    }
  }
  .hover-hide {
    display: inline-block;
  }
  .hover-show {
    display: none;
  }
}
button:focus, .btn:focus, .dropdown-toggle:focus, a:focus, input:focus {
  outline: none !important;box-shadow: none !important;
}

.no-hover {
  @include hover-focus {
    text-decoration: none;color: inherit;
  }
  a {
    @include hover-focus {
      text-decoration: none;color: inherit;
    }
  }
}
.no-hover-underline {
  @include hover-focus {
    text-decoration: none;
  }
  a{
    @include hover-focus {
      text-decoration: none;
    }
  }
}
.no-hover-color {
  @include hover-focus {
    color: inherit;
  }
  a {
    @include hover-focus {
      color: inherit;
    }
  }
}

ul {
	list-style-type: none;text-align: left;
	&.list-icon {
		li {
			background: url('../images/icon-select.svg') left no-repeat;
			padding-left: 20px;
		}
	}
  &.list-default {
    padding-left: 0;
    li {
      margin-bottom: 8px;
    }
  }
  &.list-disc {
    padding-left: 20px;list-style-type: disc;
    li {
      margin-bottom: 8px;
    }
  }
}

.large {
	font-size: 56px;
}
.small,small {
  font-size: 14px;
}
.small-xs {
  font-size: 12px;
}

@include custom-media-down {
  h1, .h1:not(i) {
    font-size: $h4-font-size;
  }
  h2, .h2:not(i) {
    font-size: $h5-font-size;
  }
  h3, .h3:not(i) {
    font-size: $h5-font-size;
  }
  h4, .h4:not(i) {
    font-size: $h6-font-size;
  }
  h5, .h5:not(i) {
    font-size: $h6-font-size;
  }
  h6, .h6:not(i) {
    font-size: 16px;
  }
  .large {
  	font-size: $h3-font-size;
  }
}

//.progress-bar {
//  width: 100%;height: 100%;background: url('../images/loading.jpg');
//}

.titleStyle {
  position: relative;
  &:before {
    content: '';width: 40px;background-color: $primary;position: absolute;height: 100%;
  }
}

.box-shadow {
  box-shadow: 0 5px 8px 0 rgba(170, 170, 170, 0.37);
}
.box-shadow-sm {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

i.kv {
  line-height: 0 !important;
}

#articlemenu {
  [data-toggle="collapse"] {
    position: relative;cursor: pointer;
    &:after {
      content: '';display: block;background: url('../images/icon-up.svg') center no-repeat;width: 16px;height: 10px;
      position: absolute;right: 0;top: 50%;margin-top: -5px;
    }
    &[aria-expanded="true"] {
      color: $info;
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

[data-toggle="collapse"][aria-expanded="true"] {
  i.active-rotate {
    transform: rotate(180deg);
  }
}
.active > i.active-rotate {
  transform: rotate(180deg);
}

.mediaName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputFileName{
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar-info {
  background-color: blueviolet;
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  background-color: #d9534f;
}

.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}

.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.text-info {
  color: blueviolet !important;
}

a.text-info:hover, a.text-info:focus {
  color: rebeccapurple  !important;
}

.bg-primary {
  background-color: blueviolet !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color:  blueviolet !important;
}

.btn-info {
  color: #fff;
  background-color: blueviolet;
  border-color: blueviolet;
}

.btn-info:hover {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color:rebeccapurple;
  border-color: rebeccapurple;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}


btn-outline-info {
  color: blueviolet;
  //border-color: rebeccapurple;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: rebeccapurple;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}
